[Desktop Entry]
Name=KDE Write Daemon
Name[uk]=Фонова служба запису KDE
Name[x-test]=xxKDE Write Daemonxx
Comment=Watch for messages from local users sent with write(1) or wall(1)
Comment[uk]=Спостерігання за  повідомленнями від локальних користувачів, відісланих через write(1) або wall(1)
Comment[x-test]=xxWatch for messages from local users sent with write(1) or wall(1)xx
Type=Service
Exec=kwrited
OnlyShowIn=KDE;
X-KDE-autostart-phase=1
